<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="col-md-5 mx-auto">
    <h4 class="mb-3">Одобренные кредиты</h4>
    <form class="needs-validation" novalidate="" action="/userBySignedCredit" method="post">
        <div style="padding-left: 100px" class="d-flex gap-2 justify-content-center">
            <div th:each="element : ${signedCredit}" class="alert alert-info mt-2">
                <div> ФИО <h5 th:text="${element.userRequestCredit.fullName}"></h5></div>
                <div> Номер паспорта <h5 th:text="${element.userRequestCredit.passportData}"></h5></div>
                <div> Семейное положение <h5 th:text="${element.userRequestCredit.maritalStatus}"></h5></div>
                <div> Адрес <h5 th:text="${element.userRequestCredit.address}"></h5></div>
                <div> Номер телефона <h5 th:text="${element.userRequestCredit.contactNumber}"></h5></div>
                <div> Сведения о занятости <h5 th:text="${element.userRequestCredit.employmentInformation}"></h5></div>
                <div> Сумма желаемого кредита <h5 th:text="${element.userRequestCredit.userCreditAmount}"></h5></div>
                <div> Статус одобрения заявки кредита <h5 th:if="${element.statusApprovedApplication}"
                                                          th:text="Одобрен"></h5>
                    <h5 th:if="${!element.statusApprovedApplication}" th:text="Не_одобрен"></h5></div>
                <div> Одобренная дата кредита (Дни) <h5 th:text="${element.offerTerm}"></h5></div>
                <div> Одобренная сумма кредита<h5 th:text="${element.approveCreditSum}"></h5></div>
                <div> Дата одобрения кредита <h5 th:text="${element.approveCreditDate}"></h5></div>
                <div> Статус подписания кредита <h5 th:if="${element.signatureStatus}" th:text="Подписан"></h5>
                    <h5 th:if="${!element.signatureStatus}" th:text="Не_подписан"></h5></div>
            </div>
        </div>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>